@import 'node_modules/jeet/scss/index';

/**  **/
*, *:before, *:after {
  /* -webkit-box-sizing: inherit; */
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body{
	font-family: "Arial";
}

#main{
	background: #F7F7F7;
	@include span(12/12);
}

.row{
	width: 100%;
	&:before {
    content: " ";
    display: table;
	}
	&:after {
		content: " ";
    display: table;
    clear: both;
	}
}

.panel{
	float: none !important;
	margin: 0 auto !important;
	@include column(9/12);
	@media only screen and (max-width: 600px) {
    @include span(12/12, $cycle: 2);
    text-align: center;
  }
}

.columns{
	position: relative;
	float: left;
}

.unit-1{width: 8%;}
.unit-2{width: 16.5%;}
.unit-3{width: 25%;}
.unit-4{width: 33%;}
.unit-5{width: 41%;}
.unit-6{width: 46%; padding: 0 2%;}
.unit-7{width: 58%;}
.unit-8{width: 66%;}
.unit-9{width: 74%;}
.unit-10{width: 83%;}
.unit-11{width: 91%;}
.unit-12{width: 100%;}