.charactermain{
	margin-bottom: 1rem;
	@include column(6/12, $cycle: 2);
  @media only screen and (max-width: 600px) {
    @include center;
  }
}

.character{
	background: white;
	.description{
		img{
			border-radius: 50%;
	    position: relative;
	    padding: 0;
	    top: -14px;
	    left: -14px;
			-webkit-box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
			width: 152px;
			height: 152px;
		}
		p{
	    color: #7F7F7F;
	    font-size: 13px;
			height: 7rem;
			line-height: 1.3;
			margin: 0;
		}
		button{
			border: 0;
	    background-color: #f0141e;
	    color: white;
	    letter-spacing: -1px;
	    padding: .5rem;
	    font-size: 13px;
	    cursor: pointer;
		}
	}
	.title-related{
		letter-spacing: -1px;
		font-weight: bold;
		padding: 0 1rem;
	}
	h3{
		margin: 0;
		position: relative;
		min-height: 3rem;
		text-transform: uppercase;
    top: -10px;
    letter-spacing: -1px;
	}
	ul {
    padding: 0;
    list-style: none;
    padding: 0 1rem;
    max-height: 8rem;
    overflow: auto;
    border-bottom: 1rem solid white;
    min-height: 8rem;
    li{
	    display: inline-table;
    	font-size: 13px;
	    margin-bottom: 1rem;
	    padding-right: 4%;
	    width: 46%;
	    a{
    		color: #7F7F7F;
    		text-decoration: none;
    		line-height: 1.3;
    		&:hover{
    			color: #f0141e;
    		}
	    }
    }
	}
}