.contentfavorite{
	background-color: #E5E5E5;
	min-height: 131.5rem;
	max-height: 131.5rem;
	overflow-y: scroll;
	@include span(4/12, $cycle: 2);
  @media only screen and (max-width: 600px) {
    @include span(4/4, $cycle: 2);
    min-height: 30rem;
		max-height: 30rem;
		overflow-y: hidden;
  }
  @media only screen and (max-width: 900px) {
    @include span(4/4, $cycle: 3);
    min-height: 30rem;
		max-height: 30rem;
		overflow-y: hidden;
  }
	.characterfavorite{
		text-align: center;
		margin-bottom: 2rem;
		position: relative;
	}
	h2{
		padding: .5rem 5rem;
    letter-spacing: 1px;
    background: url(../../images/favorites.png);
    background-repeat: no-repeat;
    background-position-x: 2rem;
    margin-top: 2rem;
	}
	img{
		width: 65%;
	}
	.fav-img{
		.close{
			color: white;
	    font-weight: bold;
	    padding: 18px;
	    cursor: pointer;
	    position: absolute;
    	background: url(../../images/btn-delete.png);
    	font-size: 0;
    	background-repeat: no-repeat;
    	margin-left: -20px;
    	margin-top: -10px;
    }
	}
	p {
		font-weight: bold;
		font-size: 17px;
    padding: 0 3rem;
	}
}