@import 'node_modules/jeet/scss/index';

.contentmain{
	background: #F7F7F7;
  @include span(9/14, $cycle: 2);
  @media (max-width: 600px) {
    @include span(4/4, $cycle: 2);
  }
  @media (max-width: 900px) {
    @include span(4/4, $cycle: 3);
  }
	h2{
		margin: 0;
	}
	h1{
		letter-spacing: 1px;
    font-size: 23px;
    margin: 2rem 0;
    padding: .6rem 0 .6rem 3rem;
    background: url(../../images/characters.png);
    background-repeat: no-repeat;
	}
	select{
		margin: 1.8rem 0;
    height: 35px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: white;
    border: 1px solid #E5E5E5;
    color: #7F7F7F;
    text-indent: 10px;
    padding: .4rem 0;
	}
  .container-headermain{
    @include column(12/12, $cycle: 2);
    .tittle{
      @include span(6/12, $cycle: 2);
    }
    .sort-by{
      @include span(4/12, $cycle: 2);
    }
  }
  .container-charactermain{
    @include column(12/12, $cycle: 2);
  }
}