.footergrability{
	background-color: black;
	color: white;
	padding: 2rem 0;
	@media only screen and (max-width: 600px) {
    padding: 0;
  }
	p{
		color: white;
    font-size: 13px;
    line-height: 2;
    @include span(8/12, $cycle: 2);
	  @media only screen and (max-width: 600px) {
	    @include span(12/12, $cycle: 2);
	    text-align: center;
	  }
	}
	div.logo-grability{
		text-align: center !important;
		@include span(4/12, $cycle: 2);
	  @media only screen and (max-width: 600px) {
	    @include span(12/12, $cycle: 2);
	    text-align: center;
	  }
	}
}