@import 'node_modules/jeet/scss/index';

.header{
	background-color: black;
	color: white;
	text-align: center;
	webkit-box-shadow: 0px 10px 14px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 14px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 14px -8px rgba(0,0,0,0.75);
	position: relative;
  z-index: 1;
	a{
		color: white;
		text-decoration: none;
		img {
			width: 125px;
			margin-left: .5rem;
		}
	}
	#logo{
		float: left;
		line-height: 2;
		font-weight: bold;
		text-align: left !important;
		@include span(4/12, $cycle: 2);
		@media (max-width: 600px) {
			text-align: center !important;
	    @include span(4/4, $cycle: 2);
	  }
	  @media (max-width: 900px) {
			text-align: center !important;
	    @include span(4/4, $cycle: 3);
	  }
	}
	.panel{
		padding: 1rem 0;
	}
	.search{
		display: inline-block;
		@include span(8/12, $cycle: 2);
		@media (max-width: 600px) {
	    @include span(4/4, $cycle: 2);
	  }
	  @media (max-width: 900px) {
	    @include span(4/4, $cycle: 3);
	  }
		input{
			height: 24px;
	    padding: .6rem 1rem;
	    border-radius: 3px;
	    border: 0;
	    width: 80%;
		}
		form {
			margin-top: 2px;
		}
		button {
			border: 0;
	    background: 0;
	    font-size: 0;
	    padding: 20px;
	    position: relative;
	    right: 46px;
	    top: -4px;
	    cursor: pointer;
	    background: url("../../images/search.png");
	    @media only screen and (max-width: 600px) {
		    position: absolute;
		    right: 19px;
		    top: 77px;
		  }
	    @media only screen and (max-width: 900px) {
		    right: 42px;
		  }
		}
	}
}
