.mainmodal{
	position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 5;
	&.hide{
		display: none;
	}
	> div {
    width: 600px;
    background: white;
    height: 400px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    top: 15%;
	}
	.close{
		color: white;
    font-weight: bold;
    background: black;
    padding: 7px 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 18px;
	}
	button{
		background: gray;
		border: 0;
		color: black;
		font-weight: bold;
		width: 50%;
    padding: 2rem 0;
    display: inline-table;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    cursor: pointer;
    &.add {
    	left: 0;
    	background: #F7F7F7;
    }
    &.cost {
    	right: 0;
    	background: #E5E5E5;
    }
    &:hover {
    	color: red;
    }
	}
  img {
    width: 205px;
    margin-right: 2rem;
  }
}