.pager{
	text-align: center !important;
  margin-bottom: 1rem !important;
	@include span(12/12, $cycle: 2);
	button{
		cursor: pointer;
		border: 0;
		background: white;
		padding: .7rem;
		color: #7F7F7F;
		-webkit-box-shadow: 3px 2px 5px -1px rgba(127,127,127,1);
		-moz-box-shadow: 3px 2px 5px -1px rgba(127,127,127,1);
		box-shadow: 3px 2px 5px -1px rgba(127,127,127,1);
	}
	.page{
		margin-right: 5px;
		&:nth-child(6) {
			margin-right: 0;
		}
		&:nth-child(2) {
			border: 1px solid;
		}
	}
}