<template id="charactermain-template">
	<div class="character">
		<div class="row description">
			<img class="thumbnail unit-6 columns" :src="character.thumbnail.path +'.'+ character.thumbnail.extension">
			<div class="unit-6 columns">
				<h3>{{ character.name }}</h3>
				<p>{{ character.description ? character.description.substring(0, 120) : 'No Description' }}...</p>
				<button type="" v-on:click="viewMore(character.id, $event)">VIEW MORE</button>
			</div>
		</div>
		<div class="title-related">Related Comics</div>
		<ul>
			<li v-for="comics in character.comics.items">
				<a href="" v-on:click="viewComic(comics.resourceURI, $event)">{{ comics.name }}</a>
			</li>
		</ul>
	</div>
</template>