<template id="charactermodal-template">
	<div v-bind:class="classHide">
		<div class="charactermodal-info">
			<span class="close" @click="closeModal()">x</span>
			<img class="thumbnail columns" :src="changeComic.img">
			<h2>{{ changeComic.title }}</h2>
			<p v-html="changeComic.description">{{ changeComic.description }}</p>
			<button @click="addFavorite(changeComic.id)" class="add" >ADD FAVORITES</button>
			<button class="cost"> $5 USD</button>
		</div>
	</div>
</template>