<template id="characterfavorite-template">
	<div>
		<div class="fav-img">
			<img :src="favorite.thumbnail.path +'.'+ favorite.thumbnail.extension" />
			<span class="close" @click="removeFavorite(favorite.id)">x</span>
		</div>
		<p>{{ favorite.description ? favorite.description.substring(0, 60) : 'No description' }}...</p>
	</div>
</template>