<template id="contentfavorite-template">
	<div>
		<h2>My Favorites</h2>
		<div v-for="item in favorites" class="characterfavorite" >
			<characterfavorite :favorite="item">
			</characterfavorite>
		</div>
	</div>
</template>