<template id="contentmain-template">
	<div>
		<div class="container-headermain">
			<h1 class="tittle">Characters</h1>
			<select v-model="sortby" name="sortby" @change="orderBy(this)" class="sort-by">
				<option value="">Sort by</option>
				<option value="name">Name</option>
				<option value="modified">Modified</option>
			</select>
		</div>
		<div class="container-charactermain">
			<div v-for="item in characters" class="charactermain" >
				<charactermain 
					:character="item">
				</charactermain>
			</div>
		</div>
		<pager></pager>
	</div>
</template>