<template id="footer-template">
	<div class="">
		<p class="text">Grability 2016 - Todos los derechos reservados</p>
		<div class="logo-grability"><img src="./images/grability-logo.png" /></div>
	</div>
</template>