<template id="header-template">
	<div >
		<div class="header row" >
      <div class="panel">        
        <a id="logo" href="/">
          <img src="./images/logo.png">
        </a>
        <div class="search">
          <form action="_header_submit" method="get" accept-charset="utf-8" @submit.prevent="searchCharacter($event)" >
            <input placeholder="Search character..." v-model="characterName">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
		</div>
    <div class="row">
      <div class="panel">
        <contentmain class="contentmain" >
        </contentmain>
        <contentfavorite class="contentfavorite" >
        </contentfavorite>
      </div>
    </div>
    <div class="footergrability row">
      <div class="panel">
        <footergrability>  
        </footergrability>
      </div>
    </div>
    <mainmodal class="mainmodal"></mainmodal>
    <charactermodal :comic="detailComic" class="charactermodal">
    </charactermodal>
  </div>
</template>