<template id="charactermodalmain-template">
	<div v-bind:class="classHide">
		<div class="charactermodal-info">
			<span class="close" @click="closeModal()">x</span>
			<img class="thumbnail columns" :src="changeCharacter.img">
			<h2>{{ changeCharacter.title }}</h2>
			<p v-html="changeCharacter.description">
			{{ changeCharacter.description ? changeCharacter.description : 'No Description' }}
			</p>
		</div>
	</div>
</template>