<template id="pager-template">
	<div class="pager" >
    <button @click="previousPage()" class="page previous">Previous</button>
    <button v-for="page in pages" @click="selectPage(page*10, page)" :class="'page active-'+activePage">{{ page+1 }}</button>
    <button @click="nextPage()" class="page next">Next</button>
	</div>
</template>